@use '../util/mixins.scss' as *;

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 12px;
  
    &-image {
      @include coverBg;

      img{
        width: 200px;
        height: 200px;
        border-radius: 12px;
        margin-bottom: 10px;
      }
    }
  
    &-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
  
      &__top {
        display: flex;
        width: 200px;
        margin: 0 auto;
        justify-content: space-between;
      }
  
      &__track {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        margin-top: 2px;
        margin-bottom: 20px;
      }
  
      &__group {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #dbf2db;
      }
  
      &__year {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #dbf2db;
      }
    }
  }