/* .timeline {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
  
    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: rgba(255, 255, 255, 0.5);
    }
  } */

.timeline {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.timeline span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
}
